<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" href="/stylesheets/style.css" />
    <title>New Book</title>
  </head>
  <body>
    <header class="header flex">
      <a href="/books">Home</a>
      <a href="/books">Back</a>
    </header>
    <main>
      <h1 class="page-title">Add Book</h1>
      <form action="/books" method="POST">
        <div>
          <label for="title">Title: </label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Enter Title"
          />
        </div>
        <div>
          <label for="title">Title: </label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Enter Title"
          />
        </div>
      </form>
    </main>
  </body>
</html>
