<!DOCTYPE html>
<html>
  <head>
    <title>Article App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header flex">
      <a href="/">Home</a>
      <a href="/articles/new">Add Article</a>
    </header>
    <div class="center">
      <h1>Welcome to Article App</h1>
      <a href="/articles" class="btn">View all Articles</a>
    </div>
  </body>
</html>
